<% @posts.each do |post| %>
  <!-- Oldest -->
  <!-- <div><a href='<%= "/posts/#{post.id}" %>'><%= post.title %></a></div> -->
  <!-- Good -->
  <!-- <div><%= link_to post.title, "/posts/#{post.id}" %></div> -->
  <!-- Better -->
  <!-- <div><%= link_to post.title, post_path(post.id) %></div> -->
  <!-- Best -->
  <div><%= link_to post.title, post_path(post) %></div>
<% end %>
